<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Less_FORMS</title>
</head>
<body>
<h1>Hello Less_FORMS HTML</h1>

<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="login"><br>
    <input type="password" name="password"><br>
    <input type="checkbox name="checkbox"><br>
    <input type="radio" name="radio"><br>
    <input type="color" name="color"><br>
    <input type="datetime-local" name="date"><br>
    <input type="file" name="file"><br>
    <button>OK</button>
</form>
</body>
</html>