#header{
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height:100px;
    border:1px solid red;
    background:black}

.block{
    display: flex;
    justify-content: center;
    align-items: center;
    width:30%;
    height:90px;
    /*border:1px solid blue;*/
    background: purple;
}
.header__logo{
width:180px;
height: 80px;
border-radius: 15%;
}

.main{
width:80%;
margin: 0 auto;
height: 500px;
background: yellowgreen;
display: flex;
justify-content: space-around;
}

.nav{
width:80%;
margin: 10px auto;
height: 20px;
background: #7fbf3b;
}

.nav_ul{
display: flex;
list-style: none;
}

.nav_ul li{
padding: 10 px;
}

.nav_ul a{
text-decoration: none;
color: black;
font-size: 20px;
}

.item_img{
width: 20%;
height: 300px;
margin: 20px;
background: yellow;
}

.img{
width: 145px;
height: 200px;
}